<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Css/Main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Js/Main.js"></script>
</head>
<body onload="@ViewBag.OnLoad">
    <div class="Main">
        @RenderBody()
    </div>
</body>
</html>